body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 button {
   margin: 0 3px 10px 0;
   padding-left: 2px;
   padding-right: 2px;
   width: 99px;
 }

 button:last-of-type {
   margin: 0;
 }

 p.borderBelow {
   margin: 0 0 20px 0;
   padding: 0 0 20px 0;
 }

 video {
   vertical-align: top;
   --width: 50vw;
   width: var(--width);
   height: calc(var(--width) * 0.5625);
 }

 video:last-of-type {
   margin: 0 0 20px 0;
 }

 video#gumVideo {
   margin: 0 20px 20px 0;
 }
